@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Fredericka+the+Great&family=IM+Fell+DW+Pica:ital@0;1&family=IM+Fell+English+SC&family=Libre+Barcode+128&family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Extended+Text&family=Megrim&family=Monofett&display=swap');

body {
  background-color: white;
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  min-height: 100vh;
  margin: 0;
  font-family: "Codystar", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.8rem;
}

/* src/App.css or any CSS file */
.text-shadow-hover:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.63); 
}
